/***** BASE STYLES *****/
body {
  font-family: 'Raleway', sans-serif;
  color: #7bb3a3;
}

a:link {
  text-decoration: none;
  color: #7BB3A3;
}

a:visited {
  color: #7BB3A3;
}

a:hover {
  color: #CAFFF0;
  text-transform: uppercase;
}

#header {
  height: 800px;
}

#about {
  height: 850px;
}

#portfolio {
  height: 650px;
}

#contact {
  height: 650px;
}

/***** GRID *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER *****/
header {
  height: 800px;
  background-color: #FFD5C9;
}

header h1 {
    padding: 200px 0 0 0;
    margin: auto;
    font-family: 'Bitter', serif;
    font-size: 65px;
    color: #7BB3A3;
}

nav {
    float: right;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: lowercase;
    font-size: 18px;
    color: #CAFFF0;
    padding-left: 25px;
    font-weight: bold;
    text-decoration: none;
}

header h2 {
    clear: both;
    font-family: 'Raleway', serif;
    font-size: 30px;
    color: #7BB3A3;
}

header h1 span {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: #CAFFF0;
}

/***** ABOUT *****/
#about {
  padding: 100px 120px;
  background-color: #B37A69;
  text-align: center;
}

#about h3 {
  font-family: 'Bitter', serif;
  font-size: 30px;
  color: #CAFFF0;
  font-weight: bold;
}

#about p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #E3FFF7;
  margin: 50px 300px;
}

#about img {
  border: 5px solid #7BB3A3;
}

/***** PORTFOLIO *****/
#portfolio {
  padding: 100px 120px;
  background-color: #FFD5C9;
  text-align: center;
}

#portfolio h3 {
  font-family: 'Bitter', serif;
  font-size: 30px;
  color: #7BB3A3;
  font-weight: bold;
  margin: 40px;
}

#portfolio h3 a {
  color: #7BB3A3;
  text-transform: uppercase;
}

#portfolio h4 {
  font-family: 'Bitter', serif;
  font-size: 20px;
  font-weight: bold;
}

#portfolio p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #BB3A3;;
  margin: 20px;
}

#portfolio img {
  border: 1px solid #E3FFF7;
}

/***** CONTACT *****/
#contact {
  padding: 100px 120px;
  background-color: #B37A69;
  text-align: center;
}

#contact h3 {
  font-family: 'Bitter', serif;
  font-size: 30px;
  color: #CAFFF0;
  font-weight: bold;
}

#contact h4 {
  font-family: 'Bitter', serif;
  font-size: 20px;
  color: #CAFFF0;
  font-weight: bold;
  font-style: italic;
}

#contact p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #E3FFF7;
}

#contact a {
  color: #7BB3A3;
  font-weight: bold;
  text-decoration: underline;
}

#contact #icons {
  font-size: 8px;
  margin: 20px;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #E3FFF7;
  margin: 550px 0 0 0;
  text-align: center;
}
